body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
.hoje {
  color: darkred;
}
.amanha {
  color: darkblue;
}
.nivel2 {
  color: seagreen;
}
.hoje,
.amanha {
  font-size: 20px;
}
