body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.bicicleta {
  width: 500px;
  height: 300px;
  background-color: aquamarine;

  background-image: url("./img/bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: url("./img/bicicleta.jpg") no-repeat cover; */
  background-position: center top;
  display: flex;
}

h1 {
  margin: auto;
  background-color: #fff;
  padding: 1rem 2rem;
}
